.DS_Store
node_modules
/dist


# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

myvenv
db.sqlite3
.vscode
__pycache__
*.pyc
.DS_Store
**.jpg
**.JPG
**.png
**.mp3
**.mp4

!/**/assets/**/*.jpg
!/**/assets/*.jpg
!/**/assets/**/*.png
!/**/assets/*.png

!back/media/default/*

back/judge/C/**
back/judge/Cpp/**
back/judge/Go/**
back/judge/Crystal/**
back/judge/Dart/**
back/judge/Java/**
back/judge/Javascript/**
back/judge/Perl/**
back/judge/Php/**
back/judge/Python3/**
back/judge/R/**
back/judge/Ruby/**
back/judge/Swift/**
back/judge/Typescript/**
!Dockerfile

!back/static/img/*.jpg
!back/static/img/*.png
buildcommand.txt